@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.bg {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200vh;
    width: 100vw;
    /* background: #571fc9; */
    background: #4529ac;
}

:root {
    --main-bg-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    --bg-blur: blur(10px);
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.curve {
    position: absolute;
    height: 250px;
    width: 100%;
    bottom: 80vh;
    left: 0vh;
    text-align: center;
    filter: var(--bg-blur);
}

.curve::before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 150%;
    width: 25%;
    height: 100%;
    transform: translate(60vw, -30vh);
    background-color: #90d5ec;
    background-image: linear-gradient(315deg, #ab9be0 0%, #e4572e 74%);
}

.curve::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 150%;
    width: 20%;
    height: 110%;
    background-color: #861657;
    background-image: linear-gradient(326deg, #861657 0%, #ffa69e 74%);
    transform: translate(10vw, -90vh);
}

.container {
    position: relative;
    width: 90vw;
    height: 70vh;
    background: rgba(255, 255, 255, 0.386);
    box-shadow: --main-bg-shadow;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 50px; */
}

header {
    position: absolute;
    top: -40px;
    right: 20px;
    left: 20px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: rgba(255, 255, 255, 0.488); */
    box-shadow: --main-bg-shadow;
    border-radius: 20px;
    backdrop-filter: var(--bg-blur);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

header .logo {
    color: rgba(255, 255, 255, 0.76);
    font-weight: 600;
    text-decoration: none;
    font-size: 2em;
}

header ul {
    display: flex;
}

header ul li {
    list-style: none;
    margin: 0 10px;
}

header ul li a {
    text-decoration: none;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.76);
    padding: 8px 15px;
    border-radius: 25px;
}

header ul li a:hover,
header ul li a.active {
    color: #f2f2f2;
    border: #f2f2f2 solid 2px;
    background: rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
    backdrop-filter: var(--bg-blur);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.content {
    transform: translateX(-40px);
    max-width: 600px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    backdrop-filter: var(--bg-blur);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding: 40px;
    padding-left: 110px;
}

.content h2 {
    font-size: 3em;
    text-transform: uppercase;
    background: linear-gradient(20deg, #8b0000, #9400d3, #00008b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0b2349;
    display: table;
    margin: 20px auto;
}
.content p {
    padding-top: 10px;
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.76);
}
.content a {
    display: inline-block;
    padding: 15px 30px;
    background: #fff;
    color: rgba(255, 255, 255, 0.76);
    margin-top: 20px;
    border-radius: 30px;
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
    border: #f2f2f2 solid 2px;
    background: rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
    backdrop-filter: var(--bg-blur);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.card {
    background-color: #000000;
    width: 400px;
    aspect-ratio: 856 / 540;
    animation: animate 5s linear infinite;
    border-radius: 25px;
}

.card > img {
    height: 100%;
}

@keyframes animate {
    0%,
    100% {
        transform: translateY(10%);
    }
    50% {
        transform: translateY(-10%);
    }
}

.sci {
    transform: translateX(50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sci li {
    list-style: none;
}

.sci li a {
    text-decoration: none;
    width: 60px;
    height: 60px;
    background: rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
    backdrop-filter: var(--bg-blur);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 5px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.sci li a img {
    transform: scale(0.6);
    transition: 0.5s;
}

.sci li:hover a img {
    transform: scale(0.6) rotate(360deg);
}

.copyrightText {
    padding-top: 10px;
    position: absolute;
    left: 50px;
    bottom: 20px;
    color: rgba(255, 255, 255, 0.76);
}
